
@{
    ViewBag.Title = "Insert";
}

<br />
<h5 style="color:#777">Information about your code snippet will be extracted (<i>Language(C#, Javascript..) </i>) and saved. Then the code will be saved into your code snippet repository and can be previewed and used.</h5>
<div style="margin-bottom: 10px;">
    <textarea class="form-control" rows="20" style="min-width: 100%; background: #f2f2f2;"></textarea>
</div>
<br />
<button type="button" class="btn btn-warning">Run analysis</button>

